

@charset "utf-8";
/* CSS Document */
//resets
html {
    box-sizing: border-box;

  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
/* Image sizing reset */
img{
    max-width: 100%;
    height: auto;
}

p{
    line-height: 1.4;
}

h1, h2, p{
    margin-top: 0;
}
// end resets 


.wrapper{
    max-width: 1180px;
    margin: 0 auto;
}


.mainbody{
    background-image: url("../images/background.jpg");
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    margin: 0;
    overflow-y: overlay;
}
.mainmain{
    width: 100%;
    min-height: calc(100vh - 134px - 40px);
    background-color: $transparency;
    margin:0;
    padding: 10px;


}

hr{
    width: 1084px;
    margin: 0 auto;
    border-top:none;
    border-bottom: $med-grey 1px solid;
}