/* .mainfoot{
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    z-index: 99;
    justify-content: center;
    display: flex;
    align-content: center;
}
.mainfoot p{
    font-family: $body-font;
    text-align: center;
    line-height: 30px;
    bottom: 0;
    max-height: 39px;
}
.mainfoot i{
    font-size: 32px;
}
.mainfoot div{
    padding-right: 10px;
}
.mainfoot a{
    margin: 0;
    color: white;
    margin: 5px;
}

@media (max-width: 555px){
    .mainfoot{
    height: 80px;
    display: block;
    }
    .mainfoot div{
        width: 80px;
        margin: 0 auto;
        padding-right: 0;
        padding-top: 5px;
    }
    .mainfoot p{
        font-size: 3vw;
    }
} */


.mainfoot{
    width: 100%;
    height: 40px;
    background-color: $mf-green;
    color: white;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    padding:0 10px;
    margin-bottom: 0;
}

.mainfoot p{
    font-family: $body-font;
    text-align: right;
    bottom: 0;
    font-size: 14px;
    line-height: 40px;

}

.mainfoot i{
    font-size: 29px;
    line-height: 40px;
}

.mainfoot a{
    color: white;
    margin: 5px;
}

.footer-things {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    display: wrap;
}

.footer-words {
    display: flex;
}

.copyright {
    margin-left: 30px;
}

.education {
    margin-right: 15px;
}


@media (max-width: 750px) {


    .mainfoot{
        width: 100%;
        height: 60px;
        background-color: $mf-green;
        color: white;
        z-index: 99;
        padding:10px;
        margin-bottom: 0;
        position: relative;
    }
    
    .mainfoot p{
        font-family: $body-font;
        text-align: center;
        bottom: 0;
        font-size: 14px;
        line-height: 15px;
    
    }
    
    .mainfoot i{
        font-size: 29px;
    }

    .social-media {
        display: flex;
    }
    
    .mainfoot a{
        color: white;
        margin: 5px;
    }

    .education {
        padding-top: 10px;
        position: absolute;
        top:0;
        right: 0;
        p{
            margin-bottom: 0;
            line-height: 15px;
        }
    }

    .copyright {
        position: absolute;
        bottom: 7px;
        right: 0;
        margin-right: 15px;
        p{
    line-height: 10px;
margin-bottom: 0;}
    }

    

}

@media (max-width: 345px){
  .social{
        position: absolute;
      top: 3px;
  }  
}