header{
    width: 100vw;
    background-color: white;
    height: 134px;
}
ul{
    margin: 0 auto;
    list-style: none;
    display: flex;
}
li{
    flex: 1;
    text-align: center;
    line-height: 134px;
}
li a{
    text-decoration: none;
    color: black;
    font-family: $header-font;
}