.productwrap{

    padding: 20px 38px;
}

.contentwrap{
    display: flex; 
    flex: 1;
}

.contentwrap img{
    padding-right: 20px;
}
.contentwrap h3{
    flex: none;
    display: inline;
}
.contentwrap p{
    display: inline;
}
.contentwrap span{
    display: block;
}