.productwrap{

    padding: 20px 2.5%;
}


.resize{
    width: 57%;
    min-width: 280px;
float: left;
margin-right: 20px;
margin-bottom: 10px;
}

.resize img{
    border: $med-grey 1px solid;

    display: block;
    width: 100%;
    height: auto;
}

.contentwrap p{
    display: inline;
    font-family: $body-font;

}
.contentwrap .information{
    display: block;
    width: 480px;
    margin-left: 20px;
}


select{
    width: 150px;
    margin: 20px 0;
    height: 40px;
    color: $dark-grey;
}

option{
    font-family: $body-font;
    color: $dark-grey;
}