@charset 'utf-8';

.landing {
    background-image: url(/images/shepherd.jpg);
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    margin: 0;
}

.landing-header {
    display: block;
    padding: 5vh 0 20vh;
    margin: 0 auto;
    
    img{
        -webkit-filter: drop-shadow(1px 1px 0 black);

    filter: drop-shadow(1px 1px 0 black); 

    }
}

.landing-main {
    max-width: 100%;
}

.landing-nav {
    color: white;
    text-shadow: 1px 1px 0 black;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: space-around;
    list-style: none;
    // padding-top: 200px;
    padding: 5vh;
    font-size: 26px;
    margin: 0;
}

.landing-nav a {
    color:white;
}

.landing-footer {
    color: white;
    text-shadow: 1px 1px 0 black;
    font-size: 13px;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: 5vh;
    z-index: 99;
    justify-content: center;
    font-family: $body-font;
    text-align: center;
    line-height: 10px;

}


/* MOBILE - TABLET */

@media (max-width: 1000px){

    // .landing {
    //     background-image: url(/images/shepherd.jpg);
    //     background-size: cover;
    //     height: 100vh;
    //     background-repeat: no-repeat;
    //     display:flex;
    //     flex-direction: column;
    //     margin: 0;
    // }

    .landing-main {
        max-width: 100%;
    }

    .landing-header {
        display: block;
        margin: 0 auto;

        padding-top: 5vh;
    }

    .landing-nav {
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        font-size: 26px;
        height: 25vh;


    }

    .landing-nav li {
        padding: 3vh;
        text-align: center;
    }

    .landing-footer {
        color: white;
        font-size: 13px;
        margin-top: auto;
        margin-bottom: 5vh;
        z-index: 99;
        justify-content: center;
        font-family: $body-font;
        text-align: center;
        line-height: 10px;
    }

}

