@charset 'utf-8';

.landing {
    background-image: url(/images/shepherd.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    margin: 0;
}

.landing-header {
    display: block;
    padding: 50px;
    margin: 0 auto;
}

.landing-main {
    max-width: 100%;
}

.landing-nav {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-top: 200px;
    font-size: 26px;
    margin: 0;
}

.landing-nav a {
    color:white;
}

.landing-footer {
    color: white;
    font-size: 13px;
    margin: 0 auto;
    margin-top: 330px;
    z-index: 99;
    justify-content: center;
    font-family: $body-font;
    text-align: center;
    line-height: 10px;

}


/* MOBILE - TABLET */

@media (max-width: 1000px){

    .landing {
        background-image: url(/images/shepherd.jpg);
        background-size: cover;
        height: 100vh;
        background-repeat: no-repeat;
        display:flex;
        flex-direction: column;
        margin: 0;
    }

    .landing-main {
        max-width: 100%;
    }

    .landing-header {
        display: block;
        padding: 50px;
        margin: 0 auto;
    }

    .landing-nav {
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        font-size: 26px;
        margin: auto;
        padding-top: 50px;
    }

    .landing-nav li {
        padding: 30px;
        text-align: center;
    }

    .landing-footer {
        color: white;
        font-size: 13px;
        margin: 0 auto;
        margin-top: 163px;
        z-index: 99;
        justify-content: center;
        font-family: $body-font;
        text-align: center;
        line-height: 10px;

    }

}

