.productsGrid{
    max-width: 880px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 10px auto;
}


.product{
    border: $dark-grey 1px solid;
    width: 280px;
    height: 400px;
    background-color: $transparency;
}
.product a{
    width: 280px;
    height: 400px;

}

.product:hover,
.product:target,
.product:focus{
    background-color: white;
}
.product img{
    margin: 9px;
    width: 260px;
    height: 260px;
}
.product h2{
    text-align: center;
    color: black;
}
@media (max-width: 965px){
    .productsGrid{
        width: 580px;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 620px){
    .productsGrid{
        width: 280px;
        grid-template-columns: 1fr;

    }
}