//colours
$dark-grey: #707070;
$med-grey: #A1A1A1;
$light-grey: #C0C0C0;
$transparency: #ffffffc2;
$mf-blue: rgb(0, 33, 87);
$mf-green

//font variables
$header-font:'Josefin Sans', sans-serif;
$body-font: 'Roboto', sans-serif;

//font padding

$header-padding: 10px 0;
